@media screen and (max-width: 768px) {
  //
  .banner--textbox {
    h2 {
      font-size: 6.2rem;
      & + img {
        margin: 3rem 0 3.5rem;
        max-width: 16rem;
      }
    }
    p {
      font-size: 1.8rem;
      margin: 0 auto 3rem;
      line-height: 1.7;
    }
  }
  .section--title {
    h3 {
      font-size: 3.6rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
  .about-- {
    &section {
      padding: 8rem 0 6rem;
    }
    &textBox .text {
      margin: 3.5rem 0 0 0;
      article {
        margin: 3rem 0 0 0;
        .imgText {
          margin: 3rem 0 5rem;
          grid-template-columns: 1fr;
          grid-gap: 2rem;
          figure {
            margin: 0 auto;
          }
        }
        p.quoted--msg {
          font-size: 2rem;
        }
      }
    }
  }
  .info-- {
    &section {
      padding: 8rem 0 7rem;
    }
    &detailText {
      padding: 4rem;
    }
  }
  .menu-- {
    &section {
      padding: 6rem 0 10rem;
    }
    &details {
      .section--title {
        h3 {
          font-size: 4.8rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
      ul.menuLists {
        margin: 4rem 0 0 0;
        li {
          h4 {
            font-size: 2.4rem;
          }
          p {
            font-size: 1.4rem;
            margin: 0.8rem 0 0 0;
          }
          .price {
            margin: 1rem 0 0 0;
          }
          img {
            margin: 1rem auto 0;
          }
        }
      }
    }
    &card {
      padding: 5rem 3rem 5rem;
    }
    &text {
      h5 {
        font-size: 3.6rem;
      }
      p {
        margin: 3rem 0 4rem;
      }
    }
  }
  .recipe-- {
    &section {
      padding: 7rem 0 2rem;
    }
    &leftContent {
      grid-template-columns: 1fr;
      grid-gap: 3.5rem;
      max-width: 28rem;
      margin: 0 auto;
    }
    &right {
      &Img {
        grid-area: 1/1 / span 1 / span 1;
        min-height: 50rem;
        padding-bottom: 0;
      }
      &Info {
        grid-area: 2/1 / span 1 / span 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        & > .info--minuteCard {
          width: 100%;
          border-right: 1px solid $text;
          &:first-child {
            margin: 0;
          }
          &:last-child {
            border-right: unset;
          }
        }
      }
      &Content {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        .btn--holder {
          margin: 2.5rem 0 0 0;
          grid-area: 3/1 / span 1 / span 1;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  //
}
