// Fonts Varialbles are here
$f_alegreya: "Alegreya";
$f_scriptina: "Scriptina";
$f_proximanova: "Proxima Nova";
$f_playfair: "Playfair Display";

// Colors Variables are here
$w: #fff;
$b: #000;
$text: #56534c;
$primary: #a47d5e;
$primary_light: #c9b176;
$primary_lighter: #dfc691;

// Others
$transition: all 0.3s linear;
